<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PSQL" connectionString="Host=localhost;Port=5433;Database=Amico;Username=postgres;Password=2486"/>
    <add name="LocalDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Database=Amico;"/>
  </connectionStrings>
</configuration>